  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

  :root {
    font-family: "Courier Prime";
    background-color: #2B2B2B;
  }

  body {
    display: flex;
    flex-direction: column;
    margin:0;
  }

  .header {
    position: sticky;
    top: 0;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid white;
  }

  .headerlink {
    display:flex;
    list-style-type: none;
    gap:1em;
    color: white;
    padding-left: 1%;
    font-size: 1.5em;
    text-align: center;
  }

  .headerright {
    list-style-type: none;
    color: white;
    font-size: 2em;
    margin-left: auto;
    padding-right:1%;
    color:lightgrey;
    transition: 0.3s;
  }

  .headerright:hover {
    color:white
  }

  p {
    color:white;
    position:relative;
  }

  .correct {
    color: white;
  }
  .incorrect {
    color: red;
  }

  .quotebox {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0;
    animation: fadein 2.5s forwards;
    animation-delay: 0.75s;
  }
  @keyframes fadein {
    to {
      opacity: 1;
    }
  }

  .quote {
    padding-left: 1%;
    padding-right: 1%;
    margin-top:15%;
    color: lightgrey;
    font-size: 1.5em;
    background-color: #212121;
    padding-top:0.5%;
    padding-bottom:0.5%;
    border-radius: 5px;  
    border: 0.5px solid grey;
    line-height: 1.5;
  }

  .resultbox {
    margin: auto;  
    max-width:400px;
    opacity:0;
    animation: fadein 2s forwards;
    animation-delay: 0.2s;
    position: relative;
  }

  .result {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .wpm {
    background-color: #212121;
    border-radius: 5px;
    border: 0.5px solid grey;
    font-size: 2em;
    display:inline-block;
    text-align: center;
    padding: 0.2em 0.7em;
    line-height: 1;
  }

  .wpmextra {
    font-size: 1.6em;
    line-height: 0.3em;
    display: inline-block;
  }

  .cursor {
    display: inline-block;
    position:absolute;
    width: 0.1ch;
    height: 1em;
    margin-left: 1px;
    background: white;
    animation: blink 1s steps(2, start) infinite;
    vertical-align: bottom;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

  .newquote {
    text-align: right;
    margin-top: -1.5%;
    transition:0.35s;
    text-decoration: underline transparent;
  }
  .newquote:hover {text-decoration: underline}

  .wpmlinks {
    font-size: 1rem;
    line-height: 0.01;
  }

  .morestats {
    transition:0.35s;
    text-decoration: underline transparent;
  }
  .morestats:hover {text-decoration: underline}

  .redo {
    transition:0.35s;
    text-decoration: underline transparent;
    position: absolute;
    bottom:0;
  }
  .redo:hover {text-decoration: underline}

  a {
    color: lightgrey;
    padding-left: 48.5%;
    line-height: 6;
    transition: 0.3s;
  }
  a:hover {
    color: grey;
  }