  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

  body {
    font-family: "Courier Prime";
    background-color: #2B2B2B;
  }

  .stickyheader {
    position: sticky;
    background-color: #171717;
    border-bottom: 2px solid white;
  }

  .headerlink {
    color: white;
    cursor: pointer;
  }

  .headerright {
    color:lightgrey;
    transition: 0.3s;
    cursor: pointer;
  }
  .headerright:hover {
    color:white
  }

  p {
    color:white;
  }

  .correct {
    color: white;
  }
  .incorrect {
    color: red;
  }

  .quotebox {
    opacity: 0;
    animation: fadein 2.5s forwards;
    animation-delay: 0.75s;
  }
  @keyframes fadein {
    to {
      opacity: 1;
    }
  }

  .quote {
    color: lightgrey;
    background-color: #212121;
    border-radius: 5px;  
    border: 0.5px solid grey;
  }

  .cursor {
    position:absolute;
    width: 0.1ch;
    height: 1em;
    margin-left: 1px;
    background: white;
    animation: blink 1s steps(2, start) infinite;
    vertical-align: bottom;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

  .newquote {
    transition:0.35s;
    text-decoration: underline transparent;
    cursor: pointer;
  }
  .newquote:hover {text-decoration: underline}

  .resultbox {
    opacity:0;
    animation: fadein 2s forwards;
    animation-delay: 0.2s;
  }

  .wpm {
    background-color: #212121;
    border-radius: 5px;
    border: 0.5px solid grey;
    font-size: 2em;
    text-align: center;
    padding: 0.2em 0.7em;
    line-height: 1;
  }

  .wpmextra {
    font-size: 1.6em;
    line-height: 1.2em;
  }

  .wpmlinks {
    font-size: 1rem;
    line-height: 1;
  }

  .morestats {
    transition:0.35s;
    text-decoration: underline transparent;
    cursor: pointer;
  }
  .morestats:hover {text-decoration: underline}

  .redo {
    transition:0.35s;
    text-decoration: underline transparent;
    cursor: pointer;
  }
  .redo:hover {text-decoration: underline}

  a {
    color: lightgrey;
    padding-left: 48.5%;
    line-height: 6;
    transition: 0.3s;
  }
  a:hover {
    color: grey;
  }

  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }