@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
  font-family: "Courier Prime";
  line-height: 1.5;
  background-color: #2B2B2B;
}

a {
  color: lightgrey;
  padding-left: 48.5%;
  line-height: 4;
}
a:hover {
  color: grey;
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
}

h2 {
  color: white;
  justify-content: left;
  padding-left: 1%;
}

p {
  text-align: center;
  color:white;
}

.correct {
  color: white;
}
.incorrect {
  color: red;
}

.quote {
  padding-left: 12.5%;
  padding-right: 12.5%;
  color: lightgrey;
  font-size: 1.5em;
}

.header {
  position: sticky;
  top: 0;
  background-color: #171717;
  display: flex;
  margin: auto;
  height: 60px;
}

.cursor {
  display: inline-block;
  position:absolute;
  width: 0.1ch;
  height: 1em;
  margin-left: 1px;
  background: white;
  animation: blink 1s steps(2, start) infinite;
  vertical-align: bottom;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}